

.text-slider {
    position: absolute;
    bottom: 150px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #f0f0f0;
    font-size: x-large;
    font-weight: 600;
}

.text-slide {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    transition: display 0.5s ease-in-out;

    &.active {
        display: block;
        opacity: 1;
    }
}

.dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;

    .dot {
        height: 15px;
        width: 15px;
        margin: 0 5px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;

        &.active {
            background-color: #717171;
        }
    }
}
